.DS_Store
.vscode/launch.json
cups-backend/onenote_backend
/OneNoteHelperApp/.build
SendToOneNote.xcodeproj/xcshareddata/**
SendToOneNote.xcodeproj/project.xcworkspace/xcuserdata/**
SendToOneNote.xcodeproj/project.xcworkspace/xcuserdata/laurent.xcuserdatad/UserInterfaceState.xcuserstate

SendToOneNote.xcodeproj/project.xcworkspace/xcuserdata/laurent.xcuserdatad/UserInterfaceState.xcuserstate
/SendToOneNote.xcodeproj/project.xcworkspace
